<!DOCTYPE HTML>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />       
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />  
        <link rel="stylesheet" href="./assets/stylesheets/main.css">        
        <title>Login</title>
    </head>
</html>

<body>

    <%	
        var col1 = 'col-md-3';	//space left 
        var col2 = 'col-md-2';	//label 
        var col3 = 'col-md-4';	//input 
        var col4 = 'col-md-3';	//space right 
    %>   
    
    <form method='POST' action='/'>
        <div class='container-fluid'>
            <div class='page-header' style='text-align: center'>
                <div class='row'>
                <div class='col-md-3'></div>
                <div class='col-md-6'>
                <h1>Member Schedule Login</h1>
                </div>
                <div class='col-md-3'></div>
            </div>   
        </div>
        
        <div class='container-fluid'>                     
            <div class='row'>
                <div class='<%= col1 %>'></div>
                <div class='<%= col2 %>'>User</div>
                <div class='<%= col3 %>'><input type='text' name='_user' 
                    <% if(typeof error != 'undefined'){ %>
                        value='<%=error.login %>' 
                    <% }else{ %>
                        value=''
                    <% } %>
                    />
                </div>
                <div class='<%= col4 %>'></div>
            </div>
            <div class='row'>
                <div class='<%= col1 %>'></div>
                <div class='<%= col2 %>'>Password</div>
                <div class='<%= col3 %>'><input type='password' name='_password' value='' /></div>
                <div class='<%= col4 %>'></div>
            </div>        
        </div>

        <br>
        <div class='row'>
            <div class='col-md-4'></div>
            <div class='col-md-4'> 
                <input type="submit" value="Login" style="width:100%">
            </div>
            <div class='col-md-4'> </div>
        </div>
        
        <% if(typeof error != 'undefined'){ %>
            <hr>
            <div class='container-fluid'>
                <div class='col-md-3'></div>
                <div class='col-md-6'>
                    <div class=jumbotron>
                        <% if (error.source === 'user'){ %>
                            <p>Invalid User Name</p>
                        <% } %>
                        <% if (error.source === 'password'){ %>
                            <p>Invalid Password</p>
                        <% } %>
                    </div>
                </div>

            </div>
        <% } %>
    </form>
</body>