<!DOCTYPE HTML>

<html>
 <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />  
  <link rel="stylesheet" href="./assets/stylesheets/main.css">
  <title>Programs</title>
 </head>
 
 <body>
 <form action='/programs' method='POST'>
    <input type="hidden" name="_method" value="PUT" />
    
    <div class='container-fluid'>
    <div class='row'>
        <div class='col-md-3'></div>
        <div class='col-md-5'>
        <ul class='nav nav-pills pull-left'>
        <li><a href='details'>Details</a></li>
        <li class='active'><a href='programs'>Programs</a></li>
        <li><a href='settings'>Settings</a></li>
        </ul>   
        </div>
        <div class='col-md-1'>
        <ul class='nav nav-pills pull-left'>
        <li><a href='/members'>Member List</a></li>
        </ul>    
        </div>    
        <div class='col-md-3'></div>
    </div>
    </div>
    
    <div class='container-fluid'>
        <div class='page-header' style='text-align: center'>      
        <div class='row'>
        <div class='col-md-3'></div>
        <div class='col-md-6'>
        <h1>Program Details</h1>
        </div>
        <div class='col-md-3'></div>
        </div>
        </div>

        <!-- Form Fields -->
        <%	
            var col1 = 'col-md-3';	//space left 
            var col2 = 'col-md-2';	//label 
            var col3 = 'col-md-4';	//input 
            var col4 = 'col-md-3';	//space right 
        %>

    <div class='row'>
        <div class='<%= col1 %>'></div>
        <div class='<%= col2 %>'>Member No</div>
        <div class='<%= col3 %>'><input	type='text' name='_memberNo' readonly value='<%= data[0].MemberNo %>' /></div>
        <div class='<%= col4 %>'></div>
    </div>   
    
    <div class='row'>
        <div class='<%= col1 %>'></div>
        <div class='<%= col2 %>'>Member Name</div>
        <div class='<%= col3 %>'><input	type='text' name='_memberName' readonly value='<%= data[0].MemberFirstName + ' ' + data[0].MemberLastName %>' /></div>
        <div class='<%= col4 %>'></div>
    </div>

    <div class='row'>
        <div class='<%= col1 %>'></div>
        <div class='<%= col2 %>'>Program Participant</div>
        <div class='<%= col3 %>'><input	type='radio' name='_programParticipant' value='0' 
            <% if (data[0].ProgramParticipant === 0) { %> <%= "checked" %>  <% } %>
            />No</div>
        <div class='<%= col4 %>'></div>
    </div>

    <div class='row'>
        <div class='<%= col1 %>'></div>
        <div class='<%= col2 %>'></div>
        <div class='<%= col3 %>'><input	type='radio' name='_programParticipant' value='1' 
            <% if (data[0].ProgramParticipant === 1) { %> <%= "checked" %>  <% } %>
            />Participant</div>
        <div class='<%= col4 %>'></div>
    </div>

    <div class='row'>
        <div class='<%= col1 %>'></div>
        <div class='<%= col2 %>'></div>
        <div class='<%= col3 %>'><input	type='radio' name='_programParticipant' value='2' 
            <% if (data[0].ProgramParticipant === 2) { %> <%= "checked" %>  <% } %>
            />Supporter</div>
        <div class='<%= col4 %>-5'></div>
    </div>

    <div class='row'>
        <div class='<%= col1 %>'></div>
        <div class='<%= col2 %>'></div>
        <div class='<%= col3 %>'><input	type='radio' name='_programParticipant' value='3' 
            <% if (data[0].ProgramParticipant === 3) { %> <%= "checked" %>  <% } %>
            />Ambassador</div>
        <div class='<%= col4 %>'></div>
    </div>

    <div class='row'>
        <div class='<%= col1 %>'></div>
        <div class='<%= col2 %>'>Program Start Date</div>
        <div class='<%= col3 %>'><input	type='date' name='_programStartDate' value='<%= data[0].ProgramStartDate %>' /></div>
        <div class='<%= col4 %>'></div>
    </div>

    <div class='row'>
        <div class='<%= col1 %>'></div>
        <div class='<%= col2 %>'>Buddy Member No</div>
        <div class='<%= col3 %>'><input	type='number' name='_buddyMemberNo' value='<%= data[0].BuddyNo %>' /></div>
        <div class='<%= col4 %>'></div>
    </div>

    <div class='row'>
        <div class='<%= col1 %>'></div>
        <div class='<%= col2 %>'>Guide</div>
        <div class='<%= col3 %>'><input	type='radio' name='_guide' value='0' 
            <% if (data[0].Guide === 0) { %> <%= "checked" %>  <% } %>
            />No</div>
        <div class='<%= col4 %>'></div>
    </div>

    <div class='row'>
        <div class='<%= col1 %>'></div>
        <div class='<%= col2 %>'></div>
        <div class='<%= col3 %>'><input	type='radio' name='_guide' value='1' 
            <% if (data[0].Guide === 1) { %> <%= "checked" %>  <% } %>
            />Yes</div>
        <div class='<%= col4 %>'></div>
    </div>

    <div class='row'>
        <div class='<%= col1 %>'></div>
        <div class='<%= col2 %>'>Volunteer</div>
        <div class='<%= col3 %>'><input	type='radio' name='_volunteer' value='0' 
            <% if (data[0].Volunteer === 0) { %> <%= "checked" %>  <% } %>
            />No</div>
        <div class='<%= col4 %>'></div>
    </div>

    <div class='row'>
        <div class='<%= col1 %>'></div>
        <div class='<%= col2 %>'></div>
        <div class='<%= col3 %>'><input	type='radio' name='_volunteer' value='1' 
            <% if (data[0].Volunteer === 1) { %> <%= "checked" %>  <% } %>
            />Yes</div>
        <div class='<%= col4 %>'></div>
    </div>

    <div class='row'>
        <div class='<%= col1 %>'></div>
        <div class='<%= col2 %>'> Status</div>
        <div class='<%= col3 %>'><input	type='radio' name='_status' value='0' 
            <% if (data[0].Status === 0) { %> <%= "checked" %>  <% } %>
            />Active</div>
        <div class='<%= col4 %>'></div>
    </div>

    <div class='row'>
        <div class='<%= col1 %>'></div>
        <div class='<%= col2 %>'></div>
        <div class='<%= col3 %>'><input	type='radio' name='_status' value='1' 
            <% if (data[0].Status === 1) { %> <%= "checked" %>  <% } %>
            />On Hold</div>
        <div class='<%= col4 %>'></div>
    </div>

    <div class='row'>
        <div class='<%= col1 %>'></div>
        <div class='<%= col2 %>'></div>
        <div class='<%= col3 %>'><input	type='radio' name='_status' value='2' 
            <% if (data[0].Status === 2) { %> <%= "checked" %>  <% } %>
            />Not Active</div>
        <div class='<%= col4 %>'></div>
    </div>

    <br>
    <div class='row'>
        <div class='col-md-4'></div>
        <div class='col-md-4'> 
        <input type="submit" value="Update" style="width:100%">
        </div>
        <div class='col-md-4'> </div>
    </div>
    </div>
  </form> 
 </body>
</html>