<!DOCTYPE HTML>

<html>
 <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />  
  <link rel="stylesheet" href="./assets/stylesheets/main.css">
  <title>Member Details</title>
 </head>
 
 <body>
  <form action='/details' method='POST'>
	<input type="hidden" name="_method" value="PUT" />

	<div class='container-fluid'>
	<div class='row'>
		<div class='col-md-1'></div>
		<div class='col-md-1'>
			<ul class='nav nav-pills pull-left'>
			<li><a href='/logout'>Logout</a></li>
			</ul>
		</div>		
		<div class='col-md-2'></div>
		<div class='col-md-5'>
		<ul class='nav nav-pills pull-left'>
			<li class='active'><a href='details'>Details</a></li>
			<li><a href='programs'>Programs</a></li>
			<li><a href='settings'>Settings</a></li>
		</ul>
		</div>
		<div class='col-md-1'>
		<ul class='nav nav-pills pull-left'>
			<li><a href='/members'>Member List</a></li>
		</ul>    
		</div>
		<div class='col-md-2'></div>
	</div>
	</div>
	
	<div class='container-fluid'>
		<div class='page-header' style='text-align: center'>
		<div class='row'>
			<div class='col-md-3'></div>
			<div class='col-md-6'>
			<h1>Member Details Form</h1>
			</div>
			<div class='col-md-3'></div>
		</div>
		</div>


		<!-- Form Fields -->
		<%	
			var col1 = 'col-md-3';	//space left 
			var col2 = 'col-md-2';	//label 
			var col3 = 'col-md-4';	//input 
			var col4 = 'col-md-3';	//space right 
			//console.log(JSON.stringify(data));
		%>	
		<!-- Data -->
		<div class='row'>
			<div class='<%= col1 %>'></div>
			<div class='<%= col2 %>'>Member No</div>
			<div class='<%= col3 %>'><input type='text' name='_memberNo' readonly value='<%= data[0].MemberNo %>' /></div>
			<div class='<%= col4 %>'></div>
		</div>

		<div class='row'>
			<div class='<%= col1 %>'></div>
			<div class='<%= col2 %>'>First Name</div>
			<div class='<%= col3 %>'><input type='text' name='_firstName' value='<%= data[0].MemberFirstName %>' /></div>
			<div class='<%= col4 %>'></div>
		</div>

		<div class='row'>
			<div class='<%= col1 %>'></div>
			<div class='<%= col2 %>'>Middle Name </div>
			<div class='<%= col3 %>'>
				<input 	type='text' name='_middleName' value='<%= data[0].MemberMiddleName %>' /></div>
			<div class='<%= col4 %>'></div>
		</div>	

		<div class='row'>
			<div class='<%= col1 %>'></div>
			<div class='<%= col2 %>'>Last Name </div>
			<div class='<%= col3 %>'><input type='text' name='_lastName' value='<%= data[0].MemberLastName %>' /></div>
			<div class='<%= col4 %>'></div>
		</div>

		<div class='row'>
			<div class='<%= col1 %>'></div>
			<div class='<%= col2 %>'>Nick Name </div>
			<div class='<%= col3 %>'><input type='text' name='_nickName' value='<%= data[0].MemberNickName %>' /></div>
			<div class='<%= col4 %>'></div>
		</div>

		<div class='row'>
			<div class='<%= col1 %>'></div>
			<div class='<%= col2 %>'>Birthday </div>
			<div class='<%= col3 %>'><input type='date' name='_birthday' value='<%= data[0].MemberBirthday %>' /></div>
			<div class='<%= col4 %>'></div>
		</div>
		
		<div class='row'>
			<div class='<%= col1 %>'></div>
			<div class='<%= col2 %>'>Family Grouping </div>
			<div class='<%= col3 %>'><input type='text' name='_familyGrouping' value='<%= data[0].FamilyGrouping %>' /></div>
			<div class='<%= col4 %>'></div>
		</div>

		<div class='row'>
			<div class='<%= col1 %>'></div>
			<div class='<%= col2 %>'>City </div>
			<div class='<%= col3 %>'><input type='text' name='_city' value='<%= data[0].City %>' /></div>
			<div class='<%= col4 %>'></div>
		</div>

		<div class='row'>
			<div class='<%= col1 %>'></div>
			<div class='<%= col2 %>'>Province/State </div>
			<div class='<%= col3 %>'><input type='text' name='__provState' value='<%= data[0].ProvinceState %>' /></div>
			<div class='<%= col4 %>'></div>
		</div>
			
		<div class='row'>
			<div class='<%= col1 %>'></div>
			<div class='<%= col2 %>'>Country </div>
			<div class='<%= col3 %>'><input type='text' name='_country' value='<%= data[0].Country %>' /></div>
			<div class='<%= col4 %>'></div>
		</div>
		
		<div class='row'>
			<div class='<%= col1 %>'></div>
			<div class='<%= col2 %>'>Time Zone </div>
			<div class='<%= col3 %>'><input type='text' name='_timeZone' value='<%= data[0].TimeZone %>' /></div>
			<div class='<%= col4 %>'></div>
		</div>	

		<div class='row'>
			<div class='<%= col1 %>'></div>
			<div class='<%= col2 %>'>First Language </div>
			<div class='<%= col3 %>'><input type='text' name='_firstLanguage' value='<%= data[0].FirstLanguage %>' /></div>
			<div class='<%= col4 %>'></div>
		</div>
			
		<div class='row'>
			<div class='<%= col1 %>'></div>
			<div class='<%= col2 %>'>Second Language </div>
			<div class='<%= col3 %>'><input type='text' name='_secondLanguage' value='<%= data[0].SecondLanguage %>' /></div>
			<div class='<%= col4 %>'></div>
		</div>

		<div class='row'>
			<div class='<%= col1 %>'></div>
			<div class='<%= col2 %>'>Third Language </div>
			<div class='<%= col3 %>'><input type='text' name='_thirdLanguage' value='<%= data[0].ThirdLanguage %>' /></div>
			<div class='<%= col4 %>'></div>
		</div>

		<div class='row'>
			<div class='<%= col1 %>'></div>
			<div class='<%= col2 %>'>Fourth Language </div>
			<div class='<%= col3 %>'><input type='text' name='_fourthLanguage' value='<%= data[0].FourthLanguage %>' /></div>
			<div class='<%= col4 %>'></div>
		</div>

		<div class='row'>
			<div class='<%= col1 %>'></div>
			<div class='<%= col2 %>'>Home Phone </div>
			<div class='<%= col3 %>'><input type='text' name='_homePhone' value='<%= data[0].HomePhone %>' /></div>
			<div class='<%= col4 %>'></div>
		</div>
			
		<div class='row'>
			<div class='<%= col1 %>'></div>
			<div class='<%= col2 %>'>Work Phone </div>
			<div class='<%= col3 %>'><input type='text' name='_workPhone' value='<%= data[0].Workphone %>' /></div>
			<div class='<%= col4 %>'></div>
		</div>
		
		<div class='row'>
			<div class='<%= col1 %>'></div>
			<div class='<%= col2 %>'>Mobile Phone </div>
			<div class='<%= col3 %>'><input type='text' name='_cellPhone' value='<%= data[0].CellPhone %>' /></div>
			<div class='<%= col4 %>'></div>
		</div>
			
		<div class='row'>
			<div class='<%= col1 %>'></div>
			<div class='<%= col2 %>'>Email 1 </div>
			<div class='<%= col3 %>'><input type='email' name='_email1' value='<%= data[0].Email1 %>' /></div>
			<div class='<%= col4 %>'></div>
		</div>
			
		<div class='row'>
			<div class='<%= col1 %>'></div>
			<div class='<%= col2 %>'>Email 2 </div>
			<div class='<%= col3 %>'><input type='email' name='_email2' value='<%= data[0].Email2 %>' /></div>
			<div class='<%= col4 %>'></div>
		</div>
		
		<br>
		<div class='row'>
			<div class='col-md-4'></div>
			<div class='col-md-4'> 
				<input type="submit" value="Update" style="width:100%">
			</div>
			<div class='col-md-4'> </div>
		</div>	
	</div>
  </form>
 </body>
</html>