<!DOCTYPE HTML>

<html>
 <head>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />  
  <link rel="stylesheet" href="./assets/stylesheets/main.css">        
  <title>Member Details</title>

 </head>
 
 <body>
  <div class='container-fluid'>
    <div class='row'>
    <div class='col-md-8'></div>
    <div class='col-md-1'>
        <ul class='nav nav-pills pull-left'>
            <li class='active'><a href='/companies'>Companies</a></li>
        </ul>    
    </div>    
    <div class='col-md-3'></div>
    </div>
  </div> 

  <div class='container-fluid'>
   <div class='page-header' style='text-align: center'>
    <div class='row'>
     <div class='col-md-3'></div>
     <div class='col-md-6'>
      <h1>Member Update form</h1>
     </div>
     <div class='col-md-3'></div>
    </div>
   </div>

   <div class='row'>
    <div class='col-md-1'></div>
    <div class='col-md-10'>
     <table id="memberData" class="display" cellspacing="0" width="100%" rowId="MemberNo">
      <thead>
       <th>MemberNo</th>
       <th>Name</th>
       <th>Nick Name</th>
       <th>Birthday</th>
       <th>Phone (h)</th>
       <th>Phone (w)</th>
       <th>Phone (c)</th>
      </thead>
      <tbody>
       <% for (var i = 0; i < data.length; i++){ %>
       <tr>
        <td><%= data[i].MemberNo %></td>
        <td><%= data[i].MemberFirstName + ' ' + data[i].MemberLastName %></td>
        <td><%= data[i].MemberNickName %></td>
        <td><%= data[i].MemberBirthday %></td>
        <td><%= data[i].HomePhone %></td>
        <td><%= data[i].WorkPhone %></td>
        <td><%= data[i].CellPhone %></td>
       </tr> 
       <% } %>
      </tbody>
     </table> 
    </div>
    <div class='col-md-1'></div>
   </div>   
  </div>

  </br>
  <div class='container-fluid'>
   <div class='row'>
    <div class='col-md-2'></div>
    <div class='col-md-2'>   
     <form action="/addmember" >  
     <input type="submit" value="Add" style="width:100%">
     <!--<input type="hidden" name="memberNo" id="memberNoAdd" value="10" />-->
     </form>
    </div>
    <div class='col-md-4'> 
     <form  enctype='application/json' action="/details" method="Post">  
     <input type="submit" value="Edit" style="width:100%">
     <input type="hidden" name="_memberNo" id="memberNoEdit" />
     </form>     
    </div>
    <div class='col-md-2'> 
     <form action="deletemember" method="Post">  
     <input type="submit" value="Delete" style="width:100%">
     <input type="hidden" name="_memberNo" id="memberNoDelete" />
     </form>     
    </div>
    <div class='col-md-2'></div>
   </div>
  </div>

  <script>
    $(document).ready(function() {
      var table = $('#memberData').DataTable({
        "rowId": 'MemberNo',
        "columns":[
          {"data": "MemberNo"},
          {"data": "MemberName"},
          {"data": "MemberNickName"},
          {"data": "MemberBirthday"},
          {"data": "HomePhone"},
          {"data": "WorkPhone"},
          {"data": "CellPhone"}
        ]
      });
      
      $('#memberData tbody').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
          $(this).removeClass('selected');
        }
        else {
          table.$('tr.selected').removeClass('selected');
          $(this).addClass('selected');
          var id = table.row( this ).id();
          $('#memberNoAdd').val(id);
          $('#memberNoEdit').val(id);
          $('#memberNoDelete').val(id);
        }
      });
    } );
  </script>
 </body>
</html>